html, body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    background-color: #081B28;
}

.portfolio img {
    width: 100%;
}

.cust-container {
    max-width: 826px;
    margin: 0 auto;
}

/* common */
.gradient-text {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(197,252,175,1) 0%, rgba(188,251,234,1) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
.sec-hed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-hed p {
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 4px;
}

.sec-hed h1 {
    font-family: "Fraunces", serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
    color: #ffffff;
}

.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 169px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #0B1821;
    background-color: #ffffff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.primary-button::before {
    content: '';
    position: absolute;
    bottom: -36px;
    background-image: url('../assets/button-effect.png');
    width: 122px;
    height: 36px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}

.primary-button:hover:before {
    bottom: 0;
}
.primary-button img {
    margin-left: 4px;
}

.primary-button:hover {
    color: #0B1821;
}

/* Section 1 */
.banner {
    position: relative;
    padding: 0 0 56px;
}

.banner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url('../assets/pattern.png');
    background-size: contain;
    background-attachment: fixed;
}

.welcome-banner {
    display: flex;
    position: relative;
    z-index: 1;
}

.welcome-banner .hero-img {
    width: 50vw;
    margin: 40px auto 0;
}

.light-effect {
    position: absolute;
    top: -140px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.4;
    z-index: 1;
}

.welcome-info {
    color: #ffffff;
    max-width: 588px;
    margin: -270px auto 0;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.welcome-info p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 26px;
}

.star-icon {
    margin-right: 1rem;
}

.data h4 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    line-height: 1;
}

.data span {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    display: block;
}

/* section 2 */
.animated-section {
    overflow: hidden;
    padding: 57px 0;
    position: relative;
}

.animated-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    content: '';
    background-image: url('../assets/pattern.png');
    background-size: contain;
    background-attachment: fixed;
}

.animated-strip {
    height: 57px;
    display: flex;
    align-items: center;
    background: #c9fade;
    transform: rotate(-3deg);
    width: 100vw;
}

.animated-strip .item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0;
    height: 57px;
    animation: scroll 10s infinite linear; /* Animation */
}


@keyframes scroll {
    from {
        transform: translateX(0);
        /* -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0); */
     }

    to {
        transform: translateX(-100%);
        /* -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%); */
     }
}
   
/* section 3 */
.project-section {
    padding-top: 110px;
}

.project-card {
    width: 824px;
    margin: 52px auto 0;
    padding: 46px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    background: linear-gradient(90deg, rgba(#314242,1) 0%, rgba(#2F413F,1)100%);
}

.project-card::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url('../assets/small-pattern.png');
}

.card-info {
    width: 400px;
    position: relative;
    z-index: 1;
    color: #ffffff;
}

.card-info h2 {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 600;
    padding: 20px 0;
    margin: 0;
}

.card-info p {
    font-size: 18px;
    font-weight: 200;
    padding-right: 18px;
    line-height: 28px;
    opacity: 0.8;
    margin-bottom: 40px;
}

.card-img {
    position: absolute;
    bottom: -15px;
    right: -15px;
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

@media screen and (min-width:1180px) {
    .project-card:hover .card-img {
        bottom: 0;
        right: 0;
    }

    .card-2.project-card:hover .card-img {
        bottom: 0;
    }

    .card-3.project-card:hover .card-img {
        right: 0;
    }
}

.card-2.project-card .card-img {
    right: 0;
}

.card-3.project-card .card-img {
    bottom: 0;
}

.card-3.project-card .card-img img {
    width: 47%;
}

.card-3 .card-info ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 25px;
}

.card-3 .card-info p {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.card-3 .card-info p img {
    margin-right: 5px;
}

/* section 4 */
.testimonial-section {
    padding: 150px 0;
}

.swiper {
    padding: 54px 30px 0;
}

.swiper-slide {
    height: auto;
}

.test-item {
    background-image: url('../assets/Testimonial-card.png');
    height: 100%;
    padding: 26px 26px 42px;
    border-radius: 18px;
    border: 1px solid #1C2B35;
    cursor: grabbing;
}

.test-item h3 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.designtion {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}
.designtion span {
    color: #C6FCA6;
    padding-left: 4px;
}

.test-item p {
    font-size: 16px;
    font-weight: 300;
    margin: 28px 0 0;
    color: #ffffff;
    opacity: 0.8;
    line-height: 26px;
}

/* section 5 */
.know-section {
    padding: 0 0 148px;
}

.know-section .cust-container {
    margin-top: 30px;
}

.perona-row {
    display: flex;
    justify-content: space-between;
}

.persona {
    width: 422px;
    height: 309px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    border: 1px solid rgba(95, 95, 95, 0.2);
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.persona:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/persona-shadow1.png);
    width: 211px;
    height: 205px;
    transform-origin: top left;
    transform: scale(0);
    transition: all 0.5s linear;
}

.persona:hover:before {
    transform: scale(1);
}

.persona h4 {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}

.persona h4 img {
    width: 32px;
    margin-right: 10px;
    transition: all 0.3s linear;
}

.persona:hover h4 img {
    transform: rotate(-45deg);
}

.persona p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    width: 280px;
}

.persona-chips {
    display: flex;
    flex-wrap: wrap;
}

.chips.chips1 {
    transform: rotate(-20deg);
    left: -54px;
    position: relative;
    top: 25px;
}

.chips.chips2 {
    position: relative;
    top: -68px;
    right: -206px;
    transform: rotate(-20deg);
}

.chips.chip3 {
    transform: rotate(-9.67deg);
    position: relative;
    left: -150.85px;
    top: 17px;
}

.chips.chips4 {
    transform: rotate(4.73deg);
    top: -42px;
    position: relative;
    right: -142px;
}

.persona-chips .chips {
    background-image: linear-gradient(to right, #C6FCA6, rgb(167 252 238 / 74%));
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
    color: #151515;
    border-radius: 50px;
    margin-bottom: 30px;
}

.map {
    width: 372px;
    overflow: hidden;
    border-radius: 18px;
    border: 1px solid #343434;
}

.map img {
    transition: all 0.3s ease-in;
}

@media screen and (min-width:1180px) {
    .map:hover img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

.prototype-item {
    padding: 40px 34px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    border: 1px solid rgba(95, 95, 95, 0.2);
    height: 307px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.prototype-item h4 {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}

.prototype-item img {
    margin-right: 4px;
}

.prototype-item p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    width: 280px;
}

.prototype-item .primary-button {
    position: absolute;
    bottom: 40px;
    left: 34px;
}

.prototype1 {
    position: absolute;
    top: 42px;
    right: -240px;
    transform: rotate(-2.01deg);
    -webkit-transform: rotate(-2.01deg);
    -ms-transform: rotate(-2.01deg);
    -moz-transform: rotate(-2.01deg);
    -o-transform: rotate(-2.01deg);
    opacity: 0.3;
    transform-origin: bottom;
    width: 701px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;

}

.prototype2 {
    position: absolute;
    top: 42px;
    right: -240px;
    transform: rotate(-5.01deg);
    -webkit-transform: rotate(-5.01deg);
    -moz-transform: rotate(-5.01deg);
    -o-transform: rotate(-5.01deg);
    transform-origin: bottom;
    width: 701px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}

/* .prototype-item:hover .prototype1, 
.prototype-item:hover .prototype2 {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
} */

/* Responive.css */

@media screen and (max-width: 991px) {
    .sec-hed {
        padding: 0 32px;
    }
    
    .sec-hed p {
        text-align: center;
    }
    
    .sec-hed h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .cust-container {
        padding: 0 30px;
    }

    /* welcome banner */
    .banner::before {
        background-size: cover;
    }

    .welcome-banner .hero-img {
        width: 70vw;
    }

    .welcome-info {
        max-width: 588px;
        margin: -200px auto 0;
    }
    /* Project Sction */
    .project-section {
        padding-top: 50px;
    }

    .project-card {
        width: 100%;
        margin: 30px auto 0;
        padding: 30px;
    }

    .card-1 .card-img img {
        width: 70%;
    }

    .card-2 .card-img img {
        width: 40%;
    }

    /* .card-3 .card-img img {
        width: 70%;
    } */

    /* Animatd strip */
    .animated-section {
        padding: 35px 0;
    }

    .animated-section::before {
        background-size: cover;
    }

    .animated-strip {
        height: 35px;
    }

    .animated-strip .item {
        height: 35px;
    }

    /* Testimonial */
    .testimonial-section {
        padding: 75px 0;
    }

    .test-item p {
        font-size: 14px;
        line-height: 24px;
    }

    /* Portfolio */
    .persona {
        width: 50%;
        padding-right: 15px;
    }

    .map {
        width: 50%;
        padding-left: 15px;
        border: none;
    }

    .perona-row img {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }

    /* Prototype */
    .prototype-img img {
        width: 85%;
    }
}

@media screen and (max-width: 767px) {
    
    section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .cust-container {
        padding: 0 20px;
    }

    /* welcome banner */
    .banner {
        padding: 0 0 30px;
    }

    .light-effect {
        top: -80px;
        width: 100%;
    }

    .welcome-banner .hero-img {
        width: 100vw;
        margin: 40px auto 0;
    }

    .welcome-info {
        max-width: 100%;
        padding: 100px 25px 0;
    }

    .welcome-info p {
        font-size: 14px;
        line-height: 24px;
    }

    /* Project */
    .project-section {
        padding-top: 30px;
    }

    .project-card {
        padding: 25px;
    }

    .project-card::before {
        background-size: contain;
    }

    .card-info {
        width: 100%;
    }

    .gradient-text {
        font-size: 14px;
    }

    .card-info h2 {
        font-size: 18px;
        padding: 10px 0;
    }

    .card-info p {
        font-size: 14px;
        padding-right: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .card-img {
        position: relative;
        bottom: -25px;
        right: -25px;
        margin-top: -30px;
    }

    .card-1 .card-img img {
        width: 450px;
    }

    .card-2.project-card .card-img {
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        margin-top: -15px;
    }

    .card-2 .card-img img {
        width: 250px;
        margin: 0 auto;
    }

    .card-3.project-card .card-img {
        margin-top: 0;
    }

    .card-3.project-card .card-img img {
        width: 350px;
    }

    /* Portfolio */
    .persona {
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .map {
        width: 100%;
        padding-left: 0;
        border: none;
    }

    .perona-row {
        flex-direction: column;
    }

    .persona h4 {
        font-size: 18px;
        line-height: 28px;
    }

    .persona p {
        font-size: 14px;
        line-height: 24px;
    }

    /* Prototype */
    .prototype-item {
        padding: 25px 25px 0;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .prototype-item h4 {
        font-size: 18px;
        line-height: 28px;
    }

    .prototype-item p {
        font-size: 14px;
        line-height: 24px;
    }

    .prototype-item .primary-button {
        position: relative;
        bottom: 0;
        left: 0;
    }

    .prototype-img {
        width: 350px;
        height: 160px;
        position: relative;
        margin-top: 30px;
        margin-left: auto;
        margin-right: -25px;
    }

    .prototype-img img {
        width: 100%;
        top: 0;
        right: -25px;
    }

    .know-section {
        padding: 0 0 75px;
    }
}