/* section 4 */
.testimonial-section {
    padding: 110px 0 0;
}

.swiper {
    padding: 54px 30px 0;
}

.swiper-slide {
    height: auto;
}

.test-swiper {
    margin: 0 auto;
    margin: 54px 0 0;
    /* max-width: 700px; */
    width: 100%;
    overflow: hidden;
    display: flex;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);

    >* {
        flex: 0 0 100%;
    }

    .group {
        display: flex;
        gap: 20px;
        /* Add padding to the right to create a gap between the last and first card. */
        padding-right: 20px;
        will-change: transform;
        /* We should be nice to the browser - let it know what we're going to animate. */
        animation: scrolling 50s linear infinite;
    }

    &:hover .group {
        animation-play-state: paused;
    }

    .test-item {
        background-image: url('../assets/Testimonial-card.png');
        height: 100%;
        padding: 26px 26px 42px;
        border-radius: 18px;
        border: 1px solid #1C2B35;
        cursor: grabbing;
        width: 300px;

        h3 {
            font-size: 18px;
            font-weight: 600;
            color: #ffffff;
        }

        .designtion {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 400;
            color: #ffffff;

            span {
                color: #C6FCA6;
                padding-left: 4px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 300;
            margin: 28px 0 0;
            color: #ffffff;
            opacity: 0.8;
            line-height: 26px;
        }
    }
}

@keyframes scrolling {
    0% {
        @include transform(translateX(0));
    }

    100% {
        @include transform(translateX(-100%));
    }
}