.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 169px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #0B1821;
    background-color: #ffffff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.primary-button::before {
    content: '';
    position: absolute;
    bottom: -36px;
    background-image: url('../assets/button-effect.png');
    width: 122px;
    height: 36px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}

.primary-button:hover:before {
    bottom: 0;
}
.primary-button img {
    margin-left: 4px;
}

.primary-button:hover {
    color: #0B1821;
}